#browser-navbar {
  display: flex;
  flex-direction: row;

  height: 45px;
  padding: 0 5px;
  font-size: 15px;
  font-weight: 100;
  background: #ffffff;
}

#browser-navbar a {
  text-decoration: none;
  color: #777;
  cursor: pointer;
  padding: 12px 7px 0;
}

#browser-navbar a i {
	font-size: 20px;
}

#browser-navbar a:hover {
  text-decoration: none;
  color: blue;
}

#browser-navbar a.disabled {
  color: #bbb;
  cursor: default;
}

#browser-navbar .fa-angle-double-left,
#browser-navbar .fa-angle-left,
#browser-navbar .fa-angle-right,
#browser-navbar .fa-commenting-o {
  /* small positioning adjustment */
  position: relative;
  top: -1px;
}

#browser-navbar .input-group {
  flex: 1;
  display: flex;
  margin: 0 10px;
  background: #ffffff;
  border: 2px solid #EDEDED;
  border-radius: 20px;
  margin: 4px 20px;
  max-height: 40px;
  /* padding: 0 5px; */
}

#browser-navbar .input-group .icon {
	color: #D1D1D1;
	font-weight: bold;
	font-size: 16px;
	margin: 8px 10px 8px 15px;
}

#browser-navbar .input-group .icon:last-of-type {
	margin: 8px 15px 8px 10px;
}

#browser-navbar .input-group input {
  flex: 1;
  font-size: 14px;
  color: #808080;
  outline: 0;
  border: 0;
  padding-left: 10px;
}

#browser-navbar .input-group input:focus, 
#browser-navbar .input-group input:active, 
#browser-navbar .input-group input:hover {
  outline: 0;
  background: #eeeeee;
}

#browser-navbar .input-group a {
  border: 1px solid #bbb;
  border-left: 0;
  padding: 4px 0;
  margin: 4px 0 3px;
  flex: 0 0 30px;
  text-align: center;
}

#browser-navbar a:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}