body {
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}
#draghandle {
  -webkit-app-region: drag;
  height: 10px;
}

html, body, #browser-chrome, .browser-chrome2, #browser-page, webview {
  height: 100% !important;
}